.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/paper.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    font-size: 5rem;
    text-align: center;
    word-spacing: 5px;
}

.todo-list {
  padding-top: 1vh;
}

.todo-add {
  margin-bottom: 20px;
}

.counter {
  position:static;
  display: flex;
  justify-content: space-between;
  text-align: end;
  padding-right: 3vw;
  margin-top: 2.5vh;
  font-size: larger;
}

.filter-btn {
  margin-left: 50%;
}