<div class="container">
  <h1 class="header">Todo List</h1>

  <ul class="todo-list">
    <li *ngFor="let item of todoList">
      <app-todo *ngIf="!filtered || !item.checked" [todoItem]="item" (remove)="removeItem($event)" (checkboxChange)="updateCompletedTodos($event)"></app-todo>
    </li>
  </ul>

  <div class="counter">
    <div class="buttons">
      <button class="btn" (click)="openAddTaskModal()">Add task</button>
      <button class="btn" (click)="filterTasks()">{{!filtered ? 'Filter tasks' : 'Remove filter'}}</button>
    </div>
    <app-counter [totalTodos]="totalTodos" [completedTodos]="completedCounter"></app-counter>
  </div>

  <!-- <button style="display: block; padding: 20px;" (click)="restore()"></button> -->
</div>