<div class="page-container">
    <div class="container">
        <div class="content">
          <h1 class="header">Edit Todo</h1>
          <div>
            <mat-form-field class="mat-form-field">
              <input [placeholder]="item.title" [(ngModel)]="item.title"/>
            </mat-form-field>
          </div>
          <div class="buttons">
            <button class="btn" (click)="editTask()">Save</button>
            <button class="btn" style="margin-left: 5px;" (click)="cancel()">Cancel</button>
          </div>
        </div>
    </div>
</div>