.container {
    position: relative;
    width: 300px;
    height: 200px;
    background-image: url('../../../assets/images/paper.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    word-spacing: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

input {
    font-size: large;
    font-family: Shifty;
    border: none;
    border-bottom: 1px solid #161616;
    background-color: transparent;
    outline: none;
    padding-bottom: 5px;
}
  
input::placeholder {
  color: #3b3b3b;
}