<div class="todo-item">
    <input type="checkbox"
         class="todo-checkbox"
         (click)="completeItem()"
         [checked]="todoItem.checked == true"
         (change)="onCheckboxChange($event)"
    >

    <span class="todo-title" [ngClass]="{'todo-complete': todoItem.checked == true}">
        {{ todoItem.title }}
    </span>

    <div class="buttons">
      <button class="btn" (click)="remove.emit(todoItem)">
        remove
      </button>
  
      <button class="btn" (click)="editItem()">
        edit
      </button>
    </div>
</div>