/* You can add global styles to this file, and also import other style files */
*{margin:0; padding:0; user-select: none;} 

@keyframes buttonHover {
  from {
    background: transparent;
    color: #161616;
  }
  to {
    background: #161616;
    color: rgb(212, 212, 212);
  }
}

@keyframes buttonActive {
  from {
    background: #161616;
    color: rgb(212, 212, 212);
  }
  to {
    background: #2c2c2c;
    border-color: #2c2c2c;
  }
}

.btn {
    background: transparent;
    outline: none !important;
    border: 2px solid #161616;
    border-radius: 0.5rem;
    padding: 2px;
    font-family: Shifty;
    font-size: calc(1rem + 4px);
    width: 80px;
  }
  
  .btn:hover {
    cursor: pointer;
    animation: buttonHover 0.25s 1 forwards;
  }
  
  .btn:active {
    animation: buttonActive 0.12s 1 forwards;
  }

  .page-container {
    margin-top: 50px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px 0px rgb(51, 51, 51);
}

@font-face {
    font-family: Shifty;
    src: url('assets/fonts/ShiftyNotesRegular.ttf');
}

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Shifty;
  height: max-content;
  background-image: url('assets/images/table-background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-dialog-container .mat-dialog-container {
  width: 400px;
  height: 170px;
  box-sizing: border-box;
  padding: 0px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  color: inherit;
  border: 3px solid #161616;
  border-radius: 15px;
}